[submodule "sch/arduino-kicad-library"]
	path = sch/arduino-kicad-library
	url = https://github.com/Alarm-Siren/arduino-kicad-library
[submodule "dmbs"]
	path = dmbs
	url = https://github.com/abcminiuser/dmbs
